.back{
    background-image: url('https://www.verywellmind.com/thmb/F3tbohzULa18b31_HrFFmpsPQ1c=/3437x2578/smart/filters:no_upscale()/GettyImages-186366114-56a383fa3df78cf7727dcf23.jpg');
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment: fixed;   


}

